.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.logo{
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
}


.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  /* font-weight: normal; уезжает шрифт*/
  line-height: 25px;
}

.header__subtitle-link {
  margin-left: 3px;
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right:0;
}


.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin : auto;
  margin-top: 100px;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.two-cloumns__span-accent {
  font-weight: 700;
}

.digits {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.section-title {
    width: 60%;
    margin-top: 100px;
    margin-bottom: 20px;
    line-height: 1.15;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

.section-subtitle {
  width: 60%;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  justify-content:space-between;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 100px;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell-heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin: 0;

}

.table__cell-text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.feynman {
  height: 890px;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  align-items:center;
  position: relative;
  background-color: #f2f2f2;
  z-index: -2;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  position: absolute;
  top:50%;
  right: 48px;
  text-decoration: none;
}

.feynman__portrait {
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
  z-index: -1;
}

/* и элемента с модификатором вида ключ-значение */
.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: -2;
}

.section__title_theme_dark {
  color: white;
  margin-top: 90px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 0;
}

.section__subtitle_theme_dark {
  color:white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-bottom: 90px;
}
.table__cell_theme_dark{
  margin-top: 80px;
  margin-bottom: 0;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  z-index: -1;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  padding: 18px auto;
}

.footer__column_content_info {
  display:flex;
  flex-direction: column;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
