/* просьба дать комментарии как и всем по файловой структуре по БЭМ, из тренажера не понял, спасибо! */

@keyframes rotation {
  from {
    transition: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  z-index: 1;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.logo{
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title {
  max-width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  z-index: 1;

}

.header__subtitle {
  position: absolute;
  max-width: 388px;
  bottom: 30px;
  left: 64px;
  /* уезжает ссылка на следующую строку */
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  font-weight: 400;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: -1;
  object-fit: cover;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right:0;
  z-index: -2;
}

.rotation {
  animation: rotation 20s linear infinite;
}

.description {
  padding: 100px 0 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin : 0 auto;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 700;
}

/* блок техники обучения */
.techniques {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 100px;
  width: 80%;
  margin: 0 auto;
}

.cards {
  width: 920px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.cards__item {
  width: 240px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 100px 0 0;
}

.cards__item:nth-child(3n+3) {
  margin-right: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 60px 40px 43px;
}
  
.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
/* секция видео */

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__iframes {
  position: relative;
  top: 50px;
  margin: 0 auto;
}

.video__iframe {
  width: 560px;
  height: 315px;
  border: none;
  margin-right: 20px;
}

.video__iframe:nth-last-of-type(1n) {
  margin-right: 0;
  padding: 0;
}

/* секция oakley */

.oakley {
  padding: 160px 0 100px;
  background-color: #f2f2f2;
}

/* блок khan */
.khan {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 105px 0 0;
  background-color: #f2f2f2;
}

.khan__author {
  width: 80%;
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.khan__quote {
  margin: 50px 0 36px;
  max-width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.khan__quote-author-subline {
  margin: 10px 0 68px;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  margin: 0 0 0 48px;
  padding: 0;
}
.book-container {
  display: flex;
  flex-direction: row;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  /* object-fit: cover; */
}

/* блок цифры */
.digits {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  margin: 0 auto;
}

.section-title {
  max-width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 0 auto 20px;
}

.section-subtitle {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  justify-content:space-between;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
  padding: 0;
}

.feynman {
  min-height: 890px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items:center;
  position: relative;
  background-color: #f2f2f2;
  z-index: 1;
}

.feynman__title {
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
  margin: 100px auto 0;
  padding: 0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  padding: 0;
  margin: 70px auto 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  position: absolute;
  top:50%;
  right: 48px;
  text-decoration: none;
}

.feynman__portrait {
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
  z-index: -1;
}

/* CSS Кауфман */
/* и элемента с модификатором вида ключ-значение */
.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  padding: 90px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: -1;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color:white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  margin-bottom: 0;
}

.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  background-position: right top;
  width: 877px;
  height: 877px;
  right: -210px;
  z-index: -1;
  top: 0;
}
/* CSS подвала */
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto 0;
  min-height: 250px;
  color: white;
}

.footer__column {
  display:flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  padding: 18px 0;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}


.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.footer__column-links {
  list-style-type: none;
  padding-left: 0;
  line-height: 30px;
  margin: 20px 0 16px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

